openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Obtains end-user authorization grants for use with other Google APIs.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google OAuth2 API
  version: v2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: google
    url: https://www.googleapis.com/discovery/v1/apis/oauth2/v2/rest
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: oauth2
externalDocs:
  url: https://developers.google.com/identity/protocols/oauth2/
servers:
- url: https://www.googleapis.com/
tags:
- name: userinfo
paths:
  /oauth2/v2/tokeninfo:
    post:
      operationId: oauth2.tokeninfo
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: id_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tokeninfo"
          description: Successful response
      x-accepts:
      - application/json
  /oauth2/v2/userinfo:
    get:
      operationId: oauth2.userinfo.get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Userinfo"
          description: Successful response
      security:
      - Oauth2:
        - openid
        Oauth2c:
        - openid
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
        Oauth2c:
        - https://www.googleapis.com/auth/userinfo.email
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.profile
        Oauth2c:
        - https://www.googleapis.com/auth/userinfo.profile
      tags:
      - userinfo
      x-accepts:
      - application/json
  /userinfo/v2/me:
    get:
      operationId: oauth2.userinfo.v2.me.get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Userinfo"
          description: Successful response
      security:
      - Oauth2:
        - openid
        Oauth2c:
        - openid
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
        Oauth2c:
        - https://www.googleapis.com/auth/userinfo.email
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.profile
        Oauth2c:
        - https://www.googleapis.com/auth/userinfo.profile
      tags:
      - userinfo
      x-accepts:
      - application/json
components:
  parameters:
    alt:
      description: Data format for the response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: An opaque string that represents a user for quota purposes. Must
        not exceed 40 characters.
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    userIp:
      description: Deprecated. Please use quotaUser instead.
      explode: true
      in: query
      name: userIp
      required: false
      schema:
        type: string
      style: form
  schemas:
    Tokeninfo:
      example:
        audience: audience
        issued_to: issued_to
        user_id: user_id
        scope: scope
        verified_email: true
        expires_in: 0
        email: email
      properties:
        audience:
          description: Who is the intended audience for this token. In general the
            same as issued_to.
          type: string
        email:
          description: The email address of the user. Present only if the email scope
            is present in the request.
          type: string
        expires_in:
          description: "The expiry time of the token, as number of seconds left until\
            \ expiry."
          format: int32
          type: integer
        issued_to:
          description: To whom was the token issued to. In general the same as audience.
          type: string
        scope:
          description: The space separated list of scopes granted to this token.
          type: string
        user_id:
          description: The obfuscated user id.
          type: string
        verified_email:
          description: Boolean flag which is true if the email address is verified.
            Present only if the email scope is present in the request.
          type: boolean
      type: object
    Userinfo:
      example:
        gender: gender
        link: link
        name: name
        id: id
        verified_email: true
        given_name: given_name
        hd: hd
        locale: locale
        family_name: family_name
        email: email
        picture: picture
      properties:
        email:
          description: The user's email address.
          type: string
        family_name:
          description: The user's last name.
          type: string
        gender:
          description: The user's gender.
          type: string
        given_name:
          description: The user's first name.
          type: string
        hd:
          description: The hosted domain e.g. example.com if the user is Google apps
            user.
          type: string
        id:
          description: The obfuscated ID of the user.
          type: string
        link:
          description: URL of the profile page.
          type: string
        locale:
          description: The user's preferred locale.
          type: string
        name:
          description: The user's full name.
          type: string
        picture:
          description: URL of the user's picture image.
          type: string
        verified_email:
          default: true
          description: Boolean flag which is true if the email address is verified.
            Always verified because we only return the user's primary email address.
          type: boolean
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/userinfo.email: See your primary Google
              Account email address
            https://www.googleapis.com/auth/userinfo.profile: "See your personal info,\
              \ including any personal info you've made publicly available"
            openid: Associate you with your personal info on Google
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/userinfo.email: See your primary Google
              Account email address
            https://www.googleapis.com/auth/userinfo.profile: "See your personal info,\
              \ including any personal info you've made publicly available"
            openid: Associate you with your personal info on Google
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2

